<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Barang - Java Spring Boot</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <h3 class="mt-4">List Barang<h3>
    <a class="btn btn-success mt-3" href="barang/new">Add Barang</a>
    
	<form th:action="@{/}" class="mt-3">
		Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" />
		&nbsp;
		<input type="submit" value="Search" />
		&nbsp;
		<input type="reset" value="Clear" id="btnClear" onclick="clearSearch()" />
	</form>

    <table class="table table-responsive mt-3">
        <thead class="table-dark">
            <tr class="text-center">
                <th>ID</th>
                <th>nama</th>
                <th>Harga</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="barang : ${listBarang}">
            	<td th:text="${barang.id}">ID</td>
                <td th:text="${barang.nama}">Nama</td>
                <td th:text="${barang.harga}">Harga</td>
                <td class="text-center">
                	<a th:href="@{'/edit/' + ${barang.id}}" class="btn btn-primary">Edit</a>
                	&nbsp;&nbsp;&nbsp;
                	<a th:href="@{'/delete/' + ${barang.id}}" class="btn btn-danger" 
                	   onclick="return confirm('Apakah anda mau hapus data?')">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
      
</body>
</html>