<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Form Update Product</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>

	<div class="container">
	
		<h4 class="text-primary mt-4">Form Update Barang</h4>
			
		<form action="#" th:action="@{/barang/barang/save}" th:object="${barang}"
			method="post" class="mt-3">
			
		    <input type="hidden" th:field="*{id}" readonly="readonly" />
  			<div class="mb-3">
    			<label for="nama" class="form-label">Nama</label>
    			<div class="col-4">
    				<input type="text" class="form-control" id="nama" th:field="*{nama}" >
    			</div>
  			</div>
  			<div class="mb-3">
    			<label for="harga" class="form-label">haraga</label>
    			<div class='col-4'>
    				<input type="text" class="form-control col-3" id="harga" th:field="*{harga}" >
    			</div>
  			</div>

  			<button type="submit" class="btn btn-primary">Update</button>
  			<a href="/" class="btn btn-danger">Back</a>
		</form>
	</div>
	
</body>
</html>